body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

}

.input-box {
  margin: auto;
}

.listcustomer {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.head {
  display: flex;
  align-items: center;
}

  
.logout {
  margin-top: 15%;
}